* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  position: relative;
}

.side_nav {
  background: rgb(5, 68, 104);
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  border-right: 1px solid;
  text-align: center;

}

.container {
  max-width: 1200px;
  margin: auto;
}

.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_nav li {
  list-style: none;
}

.nav_list {
  width: 40%;
}

.the_content {
  margin-left: 250px;
  width: 100%;
}

.apiKey:not(:last-child) {
  border-bottom: 1px solid #91b4f9;
}

.language_list {
  cursor: pointer;

}

.language_list {
  color: #000;
  position: relative;
  text-decoration: none;
}

.language_list::before {
  background: hsl(45 100% 70%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.language_list:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


/* button */

.button-62 {
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}